body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
    background-color: lightblue;
}

.container {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}